// Variables
$gray: #303030;
$grayWhiteOpacity: rgba(48, 48, 48, .5);
$offWhite: #f8f6d5;
$offWhiteOpacity: rgba(248, 246, 213, .5);
$pink: #f87e8f;
$blue: #4b67ae;
$green: #8cc54f;

$fonts: '../fonts/';

@function responsive($value1, $value2, $width1: 320, $width2: 1440) {
  $x1: $width1;
  $x2: $width2;
  $y1: $value1;
  $y2: $value2;
  $a: (($y2 - $y1) / ($x2 - $x1));
  $b: (($x2 * $y1 - $x1 * $y2) / ($x2 - $x1));
  @return calc(#{$a * 100vw} + #{$b * 1px});
}

// Fonts
@font-face {
  font-family: 'New Spirit SemiBold Condensed';
  src: url($fonts + 'NewSpirit-SemiBoldCondensed.eot');
  src: url($fonts + 'NewSpirit-SemiBoldCondensed.eot?#iefix') format('embedded-opentype'),
       url($fonts + 'NewSpirit-SemiBoldCondensed.woff2') format('woff2'),
       url($fonts + 'NewSpirit-SemiBoldCondensed.woff') format('woff'),
       url($fonts + 'NewSpirit-SemiBoldCondensed.ttf') format('truetype'),
       url($fonts + 'NewSpirit-SemiBoldCondensed.svg#NewSpirit-SemiBoldCondensed') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'martin';
  src: url($fonts + 'martin-regular.eot');
  src: url($fonts + 'martin-regular.eot?#iefix') format('embedded-opentype'),
       url($fonts + 'martin-regular.woff2') format('woff2'),
       url($fonts + 'martin-regular.woff') format('woff'),
       url($fonts + 'martin-regular.ttf') format('truetype'),
       url($fonts + 'martin-regular.svg#NewSpirit-regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Global
* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'New Spirit SemiBold Condensed';
  font-weight: normal;
  box-sizing: border-box;
  color: $gray;
  width: 100vw;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  background: transparent;
  -webkit-appearance: none;
}

h1, h2 {
  padding: 0;
  margin: 0;
  font-family: 'martin';
  font-weight: normal;
  text-transform: uppercase;
}