@import './styles/base.scss';

// Components and pages
.footer {
  padding: responsive(10, 20) 20px;
  background-color: $gray;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 9;
  img {
    display: block;
    max-width: responsive(120, 200);
  }
}

.grid {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  padding: responsive(46, 72) 0 0;
}

.title {
  position: relative;
  z-index: 3;
  grid-column-start: 2;
  grid-column-end: 7;
  width: fit-content;
  height: fit-content;
  h1 {
    font-size: responsive(120, 284);
    line-height: .7;
  }
  @media screen and (max-width: 1000px) {
    grid-column-start: 1;
    grid-column-end: 7;
    padding: 60px 20px 0;
  }
}

.container {
  height: fit-content;
  position: relative;
  z-index: 2;
  &.image {
    z-index: 1;
    img {
      display: block;
      width: 100%;
    }
  }
  figcaption {
    justify-content: flex-end;
    background-color: $offWhiteOpacity;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .legend {
      padding: responsive(30, 60);
      h2 {
        font-size: responsive(20, 44);
      }
      p {
        font-size: responsive(16, 33);
        line-height: 1.1;
      }
    }
    @media screen and (max-width: 1000px) {
      display: none;
      &:hover {
        display: none;
      }
    }
  }
  &:hover {
    figcaption {
      display: flex;
    }
  }
  p {
    font-size: responsive(25, 58);
    line-height: 1;
    span {
      font-family: 'martin';
      font-size: responsive(30, 64);
      text-transform: uppercase;
    }
    &.font-50 {
      font-size: responsive(25, 50);
      span {
        font-size: responsive(30, 55);
      }
    }
    &.font-60 {
      font-size: responsive(25, 60);
      span {
        font-size: responsive(30, 70);
      }
    }
    &.font-70 {
      font-size: responsive(25, 70);
      span {
        font-size: responsive(30, 80);
      }
    }
  }
}

.column {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: max-content;
  width: 50vw;
  &.column_span {
    width: 100vw;
    grid-template-columns: repeat(12, 1fr);
  }

  @media screen and (max-width: 1000px) {
    width: 100vw;
    &.column_span {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}