@import '../styles/base.scss';

.blue {
  background-color: $blue;
  color: $offWhite;
  .top-120 {
    position: relative;
    top: -120px;
    @media screen and (max-width: 1000px) {
      top: 0;
    }
  }
  .container {
    figcaption {
      background-color: $grayWhiteOpacity;
    }
    &.container_01 {
      grid-column: span 4;
    }
    &.container_02 {
      margin: responsive(60, 120) 0;
      grid-column-start: 2;
      grid-column-end: 6;
    }
    &.container_03 {
      grid-column: span 5;
      margin: 0 0 responsive(60, 120);
    }
    &.container_04 {
      grid-column-start: 3;
      grid-column-end: 7;
    }
    &.container_05 {
      grid-column: span 5;
      margin: responsive(60, 120) 0 responsive(60, 300);
    }
    &.container_06 {
      grid-column: span 6;
    }
    &.container_07 {
      grid-column-start: 2;
      grid-column-end: 6;
      @media screen and (max-width: 1000px) {
        margin: 60px 0 0;
      }
    }
    &.container_08 {
      margin: responsive(60, 120) 0;
      grid-column-start: 2;
      grid-column-end: 12;
      @media screen and (max-width: 1000px) {
        grid-column-start: 1;
        grid-column-end: 13;
      }
    }
    &.container_09 {
      grid-column-start: 2;
      grid-column-end: 5;
    }
    &.container_10 {
      grid-column-start: 3;
      grid-column-end: 7;
    }
    &.container_11 {
      margin: 0 0 responsive(60, 240);
      grid-column-start: 2;
      grid-column-end: 7;
      @media screen and (max-width: 1000px) {
        margin: 60px 0 responsive(60, 240);
      }
    }
    &.container_12 {
      grid-column: span 6;
      justify-self: flex-end;
    }
    &.container_13 {
      margin: responsive(60, 360) 0 responsive(60, 120);
      grid-column-start: 2;
      grid-column-end: 7;
    }
  }
}