@import '../styles/base.scss';

.overlay {
  position: fixed;
  top: 0;
  left: responsive(-20, -35);
  width: calc(100% + 40px);
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  font-family: 'martin';
  text-transform: uppercase;
  font-size: responsive(600, 1400);
  line-height: .55;
  color: $pink;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $offWhite;
  span {
    white-space: nowrap;
    display: inline-block;
  }
}