@import '../styles/base.scss';

.pink {
  background-color: $pink;
  .container {
    &.container_01 {
      grid-column: span 5;
      margin-bottom: responsive(60, 240);
    }
    &.container_02 {
      grid-column: span 4;
      top: -60px;
      @media screen and (max-width: 1000px) {
        top: 0;
        margin: 60px 0;
      }
    }
    &.container_03 {
      grid-column: span 4;
    }
    &.container_04 {
      top: -120px;
      grid-column-start: 3;
      grid-column-end: 7;
      @media screen and (max-width: 1000px) {
        top: 0;
        margin: 60px 0;
        grid-column-start: 2;
      }
    }
    &.container_05 {
      grid-column: span 6;
      justify-self: flex-end;
    }
    &.container_06 {
      grid-column: span 4;
      @media screen and (max-width: 700px) {
        grid-column: span 5;
      }
    }
    &.container_07 {
      padding: responsive(40, 80) 0;
      grid-column-start: 6;
      grid-column-end: 9;
      @media screen and (max-width: 1000px) {
        grid-column-start: 3;
        grid-column-end: 6;
      }
    }
    &.container_08 {
      grid-column: span 6;
    }
    &.container_09 {
      margin: responsive(60, 120) 0 0;
      grid-column-start: 2;
      grid-column-end: 6;
    }
    &.container_10 {
      margin-top: responsive(60, 160);
      grid-column-start: 2;
      grid-column-end: 6;
    }
    &.container_11 {
      margin-top: responsive(60, 120);
      grid-column: span 9;
    }
    &.container_12 {
      margin-top: responsive(60, 120);
      grid-column: span 6;
      justify-self: flex-end;
    }
    &.container_13 {
      margin-top: responsive(60, 240);
      grid-column-start: 2;
      grid-column-end: 6;
    }
    &.container_14 {
      margin-top: responsive(120, 480);
      grid-column-start: 2;
      grid-column-end: 7;
    }
  }
}