@import '../styles/base.scss';

.green {
  background-color: $green;
  .top-120 {
    top: -120px;
    position: relative;
    @media screen and (max-width: 1000px) {
      top: 0px;
    }
  }
  .container {
    &.container_01 {
      grid-column-start: 2;
      grid-column-end: 7;
      margin-bottom: responsive(60, 120);
    }
    &.container_02 {
      grid-column: span 5;
      margin: responsive(0, 120) 0 responsive(60, 200);
    }
    &.container_03 {
      grid-column-start: 3;
      grid-column-end: 6;
    }
    &.container_04 {
      grid-column: span 11;
    }
    &.container_05 {
      grid-column-start: 2;
      grid-column-end: 6;
      margin: responsive(60, 120) 0;
    }
    &.container_06 {
      grid-column-start: 1;
      grid-column-end: 6;
      margin: 0 0 responsive(60, 300);
    }
    &.container_07 {
      grid-column-start: 2;
      grid-column-end: 6;
      margin: 0 0 responsive(60, 120);
    }
    &.container_08 {
      grid-column: span 6;
      margin: 0 0 responsive(60, 300);
    }
    &.container_09 {
      margin: 0 0 responsive(60, 120);
      grid-column-start: 2;
      grid-column-end: 7;
      background-color: aliceblue;
    }
    &.container_10 {
      grid-column-start: 1;
      grid-column-end: 5;
      margin: 0 0 responsive(60, 120);
    }
    &.container_11 {
      grid-column: span 6;
      justify-self: flex-end;
      margin: 0 0 responsive(60, 240);
    }
    &.container_12 {
      grid-column: span 6;
      justify-self: flex-end;
    }
  }
}